<%- include('../partials/header') %>

<div class="container">
    <div class="tree-info">
        <p> Tree ID: <%= tree.id %> Connected Successfully </p>
        <p> Battery Status: <%= tree.batt %> </p>
        <p> Forest Number: <%= tree.forest %> </p>
        <p> HPV10: <%= tree.hpv10 %> </p>
        <p> HPV20: <%= tree.hpv20 %> </p>
        <p> HPV35: <%= tree.hpv35 %> </p>
        <p> HPV50: <%= tree.hpv50 %> </p>
        <p> Date-Time: <%= tree.time %> </p>
    </div>
</div>




<%- include('../partials/footer') %>